
#sections {
  display: inline-block;
  width: 100%;
  z-index: 90;
}

.main-carousel{
	width: 100vw;
	height: 24vh;
}

.names-carousel{
	width: 100vw;
	height: 24vh;
}

.carousel-cell {
  width: 66%;
  height: 200px;
  /*margin-right: 10px;*/
  /*background: #8C8;*/
  /*border-radius: 5px;*/
  counter-increment: carousel-cell;
}

.leader-line {
  z-index: 9999;
}

.burgerClass img{
	/*background-color: #727D4B;*/
	background-color: #527D4B;
	border-radius: 12px;
}
.burgerClass img:hover{
	background-color: #727D4B;
	border-radius: 12px;
}
.burgerOpen{

}
.burgerClosed{

}

.searchClass img{
	/*background-color: #727D4B;*/
	background-color: #527D4B;
	border-radius: 12px;
}
/*
.searchClass img:hover{
	background-color: #727D4B;
	border-radius: 12px;
}
*/

.searchOpen{
	
}
.searchOpen img{
	background-color: #727D4B;
}
.searchClosed{
	background-color: #527D4B;
}

.searchBarClass{
	position: absolute;
	top: 12vh;
	z-index: 200;
}




.btn-group button {
    background-color: #527D4B; /* Green background */
    border: 1px solid #627D4B; /* Green border */
    border-radius: 12px;
    color: white; /* White text */
    padding: 0px 0px; /* Some padding */
   /* padding: 1% 2%;&/ /* Some padding */
    margin-right: 1.67%; 
    margin-left: 1.66%;
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #727D4B;
}



.logoClass{
	border-radius: 6px;
	position: fixed; 
	width: 100vw;
	height: 15vw;
	left:0%; 
	top:0%; 
	z-index: 200;  
	padding:0px;

	background-color: #DDBF8B;
	background-color: #63A881;
	background-color: #527D4B; /*dina!*/ 

	/*background: color url('images/islamic_pattern_transparent.png') others;*/
	/*background-image: url("../images/islamic_pattern_transparent.png");*/
	background-image: url("../images/ip_3m.png");
	/*background-image: url('images/islamic_pattern_transparent.png')*/

	vertical-align:middle;
	text-align:center;
}

.pointable{
	cursor: pointer;
}

a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer, .textUnselectable {
       cursor: pointer;
}

.navbarClass{
	position: fixed; 
	width: 100vw; 
	left: 0%; 
	bottom: 7vh;
	z-index: 200;
	display: block;
}

.pagerButton{
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    cursor: pointer;
}

.pagerButton:hover {
    background-color: #ddd;
    color: white;
    cursor: pointer;
}

.pagerButton:active {
    background-color: #aaa;
    color: white;
    cursor: pointer;
}

.textUnselectable{
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.previous {
    background-color: #43524D;
    color: white;
}

.next {
    background-color: #43524D;
    color: white;
}

.round {
    border-radius: 50%;
}

/* Create two equal columns that floats next to each other */



/* Clear floats after the columns */
.exploreRow:after {
    content: "";
    display: table;
    clear: both;
}
.exploreColumn {
	border-radius: 5px;
    float: left;
    width: 15%;
    min-height: 13vh;
    padding: 10px 10px;
    color: #7c795d;
    background-color:#4CAF50;
    background-color:#DDDDDEA4;
    margin-right: 10px;
    margin-bottom: 10px; 
    /*border: 1px solid #999999;*/
    border: 1px;
     border-width: 1px 1px 1px 1px;
     border-style: solid;
     border-color: #DDDDDD;
}
.exploreOffColor{
	background-color:#ADD8E6; 
	background-color:#DDEEDDA4;
	border-color:#ADD8FF;
	border-color:#DDDDDDA4;
}
.exploreEnglish{
	 position: relative;
	 color: #111; 
	 font-family: 'Helvetica Neue', sans-serif; 
	 font-size: 15px; 
	 font-style: italic;
	 top: 5vh;
	 /*font-weight: bold;*/ 
	 letter-spacing: -1px; 
	 line-height: 1; 
	 text-align: center;
}
.exploreCount{
	 position: relative;
	 color: #111; 
	 font-family: 'Helvetica Neue', sans-serif; 
	 font-size: 15px; 
	 font-style: italic;
	 top: 8vh;
	 /*font-weight: bold;*/ 
	 letter-spacing: -1px; 
	 line-height: 1; 
	 text-align: center;
}
.exploreSelected{
	background-color:#CCCCCCA4;
}





.prophetTableClass{
	width: 85vw; /*this will center it isA*/
  	margin: 0 auto;

}

.prophetColumn {
	border-radius: 1vw;
    float: left;
    width: 24vw;
    min-height: 24vh;
    padding: 1vw 1vw;
    color: #7c795d;
    background-color:#4CAF50;
    background-color:#DDDDDEDD;
    margin-right: 1vw;
    margin-bottom: 1vw; 
    /*border: 1px solid #999999;*/
    border: 1px;
     border-width: 1px 1px 1px 1px;
     border-style: solid;
     border-color: #DDDDDD;
}


.prophetColumn:hover{
   background-color:#EEEEEEA4;
}

.prophetSelected.prophetColumn:hover{
	background-color:#BBBBBBDD;
}

.prophetOffColor{
	background-color:#ADD8E6; 
	background-color:#DDEEDDDD;
	border-color:#ADD8FF;
	border-color:#DDDDDDA4;
}

.prophetSelected{
	background-color:#CCCCCCDD;
}

/* Clear floats after the columns */
.prophetRow:after {
    content: "";
    display: table;
    clear: both;
}

.prophetArabic{
	 position: relative;
	 top: 0vh;
	 color: #313; 
	 font-family: 'Helvetica Neue', sans-serif; 
	 font-size: 4vh; 
	 font-weight: bold; 
	 letter-spacing: -1px; 
	 line-height: 1; 
	 text-align: center;
}

.prophetTransliterated{
	 position: relative;
	 top: 3vh;
	 color: #221; 
	 font-family: 'Helvetica Neue', sans-serif; 
	 font-size: 3vh; 
	 font-weight: bold; 
	 letter-spacing: -1px; 
	 line-height: 1; 
	 text-align: center;
}

.prophetEnglish{
	 position: relative;
	 color: #111; 
	 font-family: 'Helvetica Neue', sans-serif; 
	 font-size: 3vh; 
	 font-style: italic;
	 top: 5vh;
	 /*font-weight: bold;*/ 
	 letter-spacing: -1px; 
	 line-height: 1; 
	 text-align: center;
}






/* Create two equal columns that floats next to each other */
.names99Column {
    float: left;
    border-radius: 5px;
    width: 25vw;
    min-height: 40vw;
    padding: 10px 10px;
    color: #7c795d;
    background-color:#4CAF50; 
    background-color:#DDDDDEA4;
    margin-right: 10px;
    margin-bottom: 10px; 
    /*border: 1px solid #999999;*/
    border: 1px;
     border-width: 1px 1px 1px 1px;
     border-style: solid;
     border-color: #DDDDDD;
}


.names99Column:hover{
   background-color:#EEEEEE;
   background-color:#EEEEEEA4;
}

.names99Selected.names99Column:hover{
	background-color:#EE99EE;
	background-color:#BBBBBBA4;
}

.names99OffColor{
	background-color:#ADD8E6; 
	background-color:#DDEEDDA4;
	border-color:#ADD8FF;
	border-color:#DDDDDDA4;
}

.names99Selected{
	background-color:#ff99ff;
	background-color:#CCCCCCA4;
}

/* Clear floats after the columns */
.names99Row:after {
    content: "";
    display: table;
    clear: both;
}


.names99Arabic{
	 position: relative;
	 top: 0vh;
	 color: #313; 
	 font-family: 'Helvetica Neue', sans-serif; 
	 font-size: 4vh; 
	 font-weight: bold; 
	 letter-spacing: -1px; 
	 line-height: 1; 
	 text-align: center;
}

.names99Transliterated{
	 position: relative;
	 top: 1vh;
	 color: #221; 
	 font-family: 'Helvetica Neue', sans-serif; 
	 font-size: 3vh; 
	 font-weight: bold; 
	 letter-spacing: -1px; 
	 line-height: 1; 
	 text-align: center;
}

.names99English{
	position: relative;
	 color: #111;
	 top: 2vh; 
	 font-family: 'Helvetica Neue', sans-serif; 
	 font-size: 3vh; 
	 font-weight: bold; 
	 letter-spacing: -1px; 
	 line-height: 1; 
	 text-align: center;
}

.highlightNamesBoxClass{
	border-radius: 6px;
	position: fixed; 
	width: 20%;
	/*height: 20%;*/
	top:0%;
	left: 40%; 
	z-index: 200; 
	background:#63A881EF; 
	padding:5px;
}


.highlightNamesBoxClassVisible{
	display: block;
}

.highlightNamesBoxClassInvisible{
	display: none;
}

.highlightNamesBoxArabicClass{
	 position: relative;
	 /*top: 0vh;*/
	 color: #313; 
	 font-family: 'Helvetica Neue', sans-serif; 
	 font-size: 35px; 
	 font-weight: bold; 
	 letter-spacing: -1px; 
	 line-height: 1; 
	 text-align: center;
}
.highlightNamesBoxTransliteratedClass{
	 position: relative;
	 /*top: 1vh;*/
	 color: #221; 
	 font-family: 'Helvetica Neue', sans-serif; 
	 font-size: 20px; 
	 font-weight: bold; 
	 letter-spacing: -1px; 
	 line-height: 1; 
	 text-align: center;
}
.highlightNamesBoxEnglishClass{
	position: relative;
	 color: #111;
	 /*top: 2vh;*/ 
	 font-family: 'Helvetica Neue', sans-serif; 
	 font-size: 20px; 
	 /*font-weight: bold;*/ 
	 font-style: italic;
	 letter-spacing: -1px; 
	 line-height: 1; 
	 text-align: center;
}


.ImageBorder
{
	display: block;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 5px solid #1e1;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);  
}




.aya{
	text-align:center;
}

.aya{
	 color: #111; 
	 font-family: 'Helvetica Neue', sans-serif; 
	 font-size: 20px; 
	 font-weight: bold; 
	 letter-spacing: -1px; 
	 line-height: 1; 
	 text-align: center;
}

.aya{
	color: #7c795d; 
	font-family: 'Trocchi', serif; 
	font-size: 4.2vh; 
	font-weight: normal; 
	padding-bottom: 2vh;
	/*line-height: 48px;*/ 
	margin: 0;
}

.aya{
	color: #333399;
}

.ayaEnglish{
	text-align:center;
	color: #7c795d; 
	font-family: 'Trocchi', serif; 
	font-size: 3.5vh; 
	font-weight: normal; 
	/*line-height: 6vh;*/ 
	margin: 0;
}

.ayaEnglish{
	color: #333399;
}

.box{
	border:5px
	border-color: #63A881EF;
	border-style: solid;
	border-color: #63A881EF;
	border-radius: 4px;
	width: 80vw;
	position: relative;
	left: 10vw;
	background-color:#F1ECCC;
	background-color:#A0ECCC;
	/*background-color:#DDBEA8;*/ /*beige*/
	/*border-color: green;
	border-color: #63A881EF;*/
}
.boxSelectedClass{
	border-style: inset;
}
.boxDeselectedClass{
	border-style: solid;
}
.boxClickedClass{
	background-color: #63A881;
}
.boxUnclickedClass{
	background-color: #00000000;
}

.step {
  /*margin-bottom: 100%;*/
  font-family: Verdana;
  font-style: normal;
  font-size: 20px;
  color:#111111FF; /*black*/
  color: #0d2b1a; /*darkgreen*/
  position: absolute;
  left: 0%;
  top: 10vh;
  display: none;
  /*background-color:#F1ECCC;*/
  z-index: 100;
  padding-bottom: 20%;
}

.textBlock{
	position: relative;
	top: 0vh;

	background-color:#F1ECCC;
	background-color:#A0ECCC;
	background-color:#DDBEA8FA;
	background-color:#B8DDDBFA; 
	background-color:#EEEEEEE0;
	/*border-radius: 2vh;*/

	display: block;
	/*padding: 1%;*/
	font-size: 3vh;
	text-indent: 2vh;
	width: 100vw;
}

.titleBlock{
	font-weight: bold;
	font-size: 3vh;
	text-indent: 0vh;
}



.anchor{
  display: block;
  height: 115px; /*same height as header*/
  margin-top: -115px; /*same height as header*/
  visibility: hidden;
}

.vertical-menu {
    width: 100vw; /* Set a width if you like */
}

.vertical-menu a {
	font-size: 2.7vw;
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    /* display: table; */ /* Make the links appear side by side?*/
    border: 1px solid green; /* Green border */
    padding: 1vw 1vw; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
    float: left;
}

.vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color: #63A881; /* Add a green color to the "active/current" link */
    color: white;
}

.infoBoxClass{
	border-radius: 6px;
	position: fixed; 
	width: 100%; 
	top:0%;
	left: 0%; 
	z-index: 100; 
	/*background: #63A881EF;*/ 
	background: #CCB38AEF;
	padding:5px;
	pointer-events: none
}

.infoBoxClassVisible{
	display: block;
}

.infoBoxClassInvisible{
	display: none;
}

.arabic_text_p_class{
	 color: #111; 
	 font-family: 'Helvetica Neue', sans-serif; 
	 font-size: 2.5vh; 
	 font-weight: bold; 
	 letter-spacing: -1px; 
	 line-height: 1; 
	 text-align: center;
}

.english_text_p_class{
	position: relative;
	top: 0vh;
		 color: #111; 
	 font-family: 'Helvetica Neue', sans-serif; 
	 font-size: 3vh; 
	 font-weight: bold; 
	 letter-spacing: -1px; 
	 line-height: 1; 
	 text-align: center;
}

.stats_text_p_class{
	position: relative;
	top: 0vh;
	margin: auto;
    width: 100%;
		 color: #111; 
	 font-family: 'Helvetica Neue', sans-serif; 
	 font-size: 32px; 
	 font-weight: bold; 
	 letter-spacing: -1px; 
	 line-height: 1; 
	 text-align: center;
}

.permanentBoxClass{
	border-radius: 6px;
	position: fixed; 
	width: 60%; 
	top:0%;
	left: 40%; 
	z-index: 98; 
	background:#63A881EF; 
	padding:5px;
}


.permanentBoxClassVisible{
	display: block;
}

.permanentBoxClassInvisible{
	display: none;
}

.permanent_arabic_text_p_class{
	 color: #111; 
	 font-family: 'Helvetica Neue', sans-serif; 
	 font-size: 20px; 
	 font-weight: bold; 
	 letter-spacing: -1px; 
	 line-height: 1; 
	 text-align: center;
}

.permanent_english_text_p_class{
	position: relative;
	top: 0vh;
		 color: #111; 
	 font-family: 'Helvetica Neue', sans-serif; 
	 font-size: 16px; 
	 font-weight: bold; 
	 letter-spacing: -1px; 
	 line-height: 1; 
	 text-align: center;
}

.permanent_stats_text_p_class{
	position: relative;
	top: 0vh;
	margin: auto;
    width: 20%;
		 color: #111; 
	 font-family: 'Helvetica Neue', sans-serif; 
	 font-size: 16px; 
	 font-weight: bold; 
	 letter-spacing: -1px; 
	 line-height: 1; 
	 text-align: center;
}

.xbuttonClass{
	position: relative;
	bottom: 1.5%;
	left:1.5%;
}



.xbuttonImageClass{
	width:2.5%;
}

.xbuttonImageClass:hover{
   background-color:#EEEEEE;
}


* { box-sizing: border-box; }
body {
  font: 8vw Arial; 
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 7vw;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}



.closeSearchIcon{
	font-size: 8vw;
	background-color: #FA9595;
	display: block;

	color: white;
	width: 10vw;
	height: 10vw;
	border-radius: 20%;
	text-align: center;
	vertical-align: middle;


	cursor: pointer;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.returnSearchIcon{
	font-size: 8vw;
	background-color: #f1f1f1;
	display: block;

	color: #AAAAAA;
	width: 10vw;
	height: 10vw;
	border-radius: 20%;
	text-align: center;
	vertical-align: middle;


	cursor: pointer;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.loader {
  border: 16px solid #F1ECCC; /* Light grey */
  border-top: 16px solid #527D4B; /* Blue */
  border-bottom: 16px solid #527D4B;
  border-radius: 50%;
  width: 30vw;
  height: 30vw;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}