#sections {
  position: relative;
  display: inline-block;
  width: 35%;
  z-index: 90;
}

.logoClass{
	border-radius: 6px;
	position: fixed; 
	width: 100%;
	left:0%; 
	top:0%; 
	z-index: 80;  
	padding:0px;

	background-color: #DDBF8B;

	vertical-align:middle;
	text-align:center;
}

.navbarClass{
	position: fixed; 
	width: 10%; 
	left: 88%; 
	top: 12%
}

/* Create two equal columns that floats next to each other */
.prophetColumn {
	border-radius: 20px;
    float: left;
    width: 18%;
    min-height: 16vh;
    padding: 10px 10px;
    color: #7c795d;
    background-color:#4CAF50; 
    /*border: 1px solid #999999;*/
    border: 1px;
}


.prophetColumn:hover{
   background-color:#EEEEEE;
}

.prophetSelected.prophetColumn:hover{
	background-color:#EE99EE;
}

.prophetOffColor{
	background-color:#ADD8E6; 
}

.prophetSelected{
	background-color:#ff99ff;
}

/* Clear floats after the columns */
.prophetRow:after {
    content: "";
    display: table;
    clear: both;
}

.prophetEnglish{
	 color: #111; 
	 font-family: 'Helvetica Neue', sans-serif; 
	 font-size: 15px; 
	 font-weight: bold; 
	 letter-spacing: -1px; 
	 line-height: 1; 
	 text-align: center;
}

.prophetTransliterated{
	 position: relative;
	 top: 3vh;
	 color: #221; 
	 font-family: 'Helvetica Neue', sans-serif; 
	 font-size: 15px; 
	 font-weight: bold; 
	 letter-spacing: -1px; 
	 line-height: 1; 
	 text-align: center;
}

.prophetArabic{
	 position: relative;
	 top: 5vh;
	 color: #313; 
	 font-family: 'Helvetica Neue', sans-serif; 
	 font-size: 15px; 
	 font-weight: bold; 
	 letter-spacing: -1px; 
	 line-height: 1; 
	 text-align: center;
}


/* Create two equal columns that floats next to each other */
.names99Column {
    float: left;
    border-radius: 25px;
    width: 19%;
    min-height: 20vh;
    padding: 10px 10px;
    color: #7c795d;
    background-color:#4CAF50; 
    /*border: 1px solid #999999;*/
    border: 1px;
}


.names99Column:hover{
   background-color:#EEEEEE;
}

.names99Selected.names99Column:hover{
	background-color:#EE99EE;
}

.names99OffColor{
	background-color:#ADD8E6; 
}

.names99Selected{
	background-color:#ff99ff;
}

/* Clear floats after the columns */
.names99Row:after {
    content: "";
    display: table;
    clear: both;
}


.names99Arabic{
	 position: relative;
	 top: 0vh;
	 color: #313; 
	 font-family: 'Helvetica Neue', sans-serif; 
	 font-size: 25px; 
	 font-weight: bold; 
	 letter-spacing: -1px; 
	 line-height: 1; 
	 text-align: center;
}

.names99Transliterated{
	 position: relative;
	 top: 4vh;
	 color: #221; 
	 font-family: 'Helvetica Neue', sans-serif; 
	 font-size: 15px; 
	 font-weight: bold; 
	 letter-spacing: -1px; 
	 line-height: 1; 
	 text-align: center;
}

.names99English{
	position: relative;
	 color: #111;
	 top: 7vh; 
	 font-family: 'Helvetica Neue', sans-serif; 
	 font-size: 12px; 
	 font-weight: bold; 
	 letter-spacing: -1px; 
	 line-height: 1; 
	 text-align: center;
}








.aya{
	text-align:center;
	border:1px solid green
}

.aya{
	 color: #111; 
	 font-family: 'Helvetica Neue', sans-serif; 
	 font-size: 20px; 
	 font-weight: bold; 
	 letter-spacing: -1px; 
	 line-height: 1; 
	 text-align: center;
}

.aya{
	color: #7c795d; 
	font-family: 'Trocchi', serif; 
	font-size: 20px; 
	font-weight: normal; 
	line-height: 48px; 
	margin: 0;
}

.aya{
	color: #333399;
}

.ayaEnglish{
	text-align:center;
	border:1px solid green;
	color: #7c795d; 
	font-family: 'Trocchi', serif; 
	font-size: 18px; 
	font-weight: normal; 
	line-height: 48px; 
	margin: 0;
}

.ayaEnglish{
	color: #333399;
}

.step {
  margin-bottom: 100%;
}



.anchor{
  display: block;
  height: 115px; /*same height as header*/
  margin-top: -115px; /*same height as header*/
  visibility: hidden;
}

.vertical-menu {
    width: 200px; /* Set a width if you like */
}

.vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color: #4CAF50; /* Add a green color to the "active/current" link */
    color: white;
}

.infoBoxClass{
	border-radius: 6px;
	position: fixed; 
	width: 40%; 
	top:0%;
	left: 0%; 
	z-index: 100; 
	background:green; 
	padding:5px;
}

.infoBoxClassVisible{
	display: block;
}

.infoBoxClassInvisible{
	display: none;
}

.arabic_text_p_class{
	 color: #111; 
	 font-family: 'Helvetica Neue', sans-serif; 
	 font-size: 20px; 
	 font-weight: bold; 
	 letter-spacing: -1px; 
	 line-height: 1; 
	 text-align: center;
}

.english_text_p_class{
	position: relative;
	top: 0vh;
		 color: #111; 
	 font-family: 'Helvetica Neue', sans-serif; 
	 font-size: 16px; 
	 font-weight: bold; 
	 letter-spacing: -1px; 
	 line-height: 1; 
	 text-align: center;
}

.stats_text_p_class{
	position: relative;
	top: 0vh;
	margin: auto;
    width: 20%;
		 color: #111; 
	 font-family: 'Helvetica Neue', sans-serif; 
	 font-size: 16px; 
	 font-weight: bold; 
	 letter-spacing: -1px; 
	 line-height: 1; 
	 text-align: center;
}

.permanentBoxClass{
	border-radius: 6px;
	position: fixed; 
	width: 40%; 
	top:10%;
	left: 45%; 
	z-index: 98; 
	background:green; 
	padding:5px;
}


.permanentBoxClassVisible{
	display: block;
}

.permanentBoxClassInvisible{
	display: none;
}

.permanent_arabic_text_p_class{
	 color: #111; 
	 font-family: 'Helvetica Neue', sans-serif; 
	 font-size: 20px; 
	 font-weight: bold; 
	 letter-spacing: -1px; 
	 line-height: 1; 
	 text-align: center;
}

.permanent_english_text_p_class{
	position: relative;
	top: 0vh;
		 color: #111; 
	 font-family: 'Helvetica Neue', sans-serif; 
	 font-size: 16px; 
	 font-weight: bold; 
	 letter-spacing: -1px; 
	 line-height: 1; 
	 text-align: center;
}

.permanent_stats_text_p_class{
	position: relative;
	top: 0vh;
	margin: auto;
    width: 20%;
		 color: #111; 
	 font-family: 'Helvetica Neue', sans-serif; 
	 font-size: 16px; 
	 font-weight: bold; 
	 letter-spacing: -1px; 
	 line-height: 1; 
	 text-align: center;
}

.xbuttonClass{
	position: relative;
	top:0%;
	left:97%;
}



.xbuttonImageClass{
	width:2.5%;
}

.xbuttonImageClass:hover{
   background-color:#EEEEEE;
}